{%extends "nav.html"%}
{%load widget_tweaks%}
{%block content%}
    <section class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h3>Create a Post</h3>
                    <hr>
                    <div class="mb-3">
                        <form action="" method="Post">
                            {%csrf_token%}
                            {%form.non_fields_errors%}
                            <label for="Title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="Title" placeholder="Enter title">
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label">Description</label>
                        <textarea class="form-control" id="Description" rows="11"></textarea>
                    </div>
                    </form>
                </div>
                <div class="col-3 d-sm-none  d-md-block">
                    <div class="row pb-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock content%}