@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@media (min-width:768px) {
    .news-input{
        width: 50%;
        color: back;
    }
    
}
body::before{
    display: block;
    content: "";
    height: 56px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img{
    width:100%;
    max-width:800px;
}

