{%extends "nav.html"%}
{%load widget_tweaks%}
{%block content%}
    <section class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.non_fields_errors }}
                        <div class="fieldWrapper">
                            <label for="{{ form.pType.id_for_label }}"> Type : </label>
                            {{ form.pType | add_class:"form-control" }}
                            {{ form.pType.errors }}
                        </div>
                        <div class="fieldWrapper">
                            <label for="{{ form.pTitle.id_for_label }}"> Title : </label>
                            {{ form.pTitle | add_class:"form-control" }}
                            {{ form.pTitle.errors }}
                        </div>
                        <div class="fieldWrapper">
                                <label for="{{ form.pDescription.id_for_label }}"> Description : </label>
                                {{ form.pDescription | add_class:"form-control" }}
                                {{ form.pDescription.errors }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary"> CREATE </button>
                        <button type="reset" class="btn btn-primary"> RESET </button>
                    </form>
                </div>
                <div class="col-3 d-sm-none  d-md-block">
                    <div class="row pb-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock content%}