{% extends "nav.html" %}
{% load widget_tweaks %}
{%  block content %}
    <div class="col-lg-9">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_fields_errors }}
            <div class="fieldWrapper">
                Are you sure you want to delete?
            </div>
            <br>
            <button type="submit" class="btn btn-info"> DELETE </button>
            <a href="/forum/" class="btn btn-primary"> CANCEL </a>
        </form>
    </div>
{% endblock content %}

