{% extends "nav.html" %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css"> -->
</head>

<body>
    {% block content %}
    <section class="p-5">
        <div class="container">
            <h5>Join activity</h5>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text ">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card bg-info">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text ">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body bg-warning">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text ">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text ">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-2">
        <div class="container d-flex flex-row-reverse gap-2">
            <a type="button" href="/create_post/" class="btn btn-outline-primary btn-lg">Add post</a>
        </div>
    </section>
    <section class="p-5 bg-light">
        <div class="container">
            {%if object_list%}
            {%for Post in object_list%}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{Post.pTitle}}</h5>
                    <p class="card-text">{{Post.pDescription}}</p>
                    <p class="card-text"><small class="text-muted">Last updated : {{Post.pDateTime}}
                        {% if request.user.is_authenticated %}
                        <a href='{% url "update" Post.id %}'> UPDATE </a>
                        <a href='{% url "delete" Post.id %}'> DELETE </a>
                        {%endif%}
                    </small></p>
                </div>
            </div>
            {%endfor%}
            {%endif%}
            <!-- <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <img src="{%static './img/anime.jpg'%}" alt="" class="d-flex">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div> -->
        </div>
    </section>
    <footer class="p-5 bg-primary text-white text-center">
        <div class="container">
            <p class="lead">Copyright &copy; TimeTracker</p>
        </div>
    </footer>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script> -->
    {% endblock content %}
</body>

</html>