{% extends "nav.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css"> -->
</head>

<body>
    {% block content %}
    <section class="p-5">
        <div class="container text-center ">
            <h2 class="lh-lg font-monospace">The most popular free <span class="text-primary"> time tracker </span>time tracker for teams</h2>
            <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque esse atque modi libero officia quidem recusandae ab quae, fugit deserunt magnam obcaecati molestias eligendi nihil laborum ipsam molestiae. Consequuntur, debitis.</p>
            <button class="btn btn-primary btn-lg py-2">START TRACKING TIME -- IT'S FREE!</button>
            <a href="#" class="fs-6 fw-light d-block text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
              </svg>1x,xxx people signed up last month</a>
        </div>
    </section>
    <section class="p-5">
        <div class="container">
            <div class="responsive-video">
                <iframe src="https://www.youtube.com/embed/nRKJBpFFsuI"></iframe>
            </div>
        </div>
    </section>
    <section class="p-5 bg-primary text-light">
        <div class="container text-center">
            <h3 class=" fs-2 pb-5">Time management features</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tenetur aliquam fuga, eaque quo, ullam enim temporibus tempore nam odit voluptate numquam earum minima voluptatem cumque maiores a dolorum magnam.</p>
        </div>
    </section>
    <section class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <div class="fw-bold">TIMEKEEPING</div>
                    <ul style="list-style-type: none;" class="fs-4">
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
                <div class="col-md">
                    <img src="{%static './img/unnamed.png'%}" alt="" class="img-fluid shadow p-3 mb-5 bg-white rounded">
                </div>
            </div>
        </div>
    </section>
    <section class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <div class="fw-bold">REPORTING</div>
                    <ul style="list-style-type: none;" class="fs-4">
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
                <div class="col-md">
                    <img src="{%static './img/anime.jpg'%}" alt="" class="img-fluid shadow p-3 mb-5 bg-white rounded">
                </div>
            </div>
        </div>
    </section>
    <section class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <div class="fw-bold">MANAGEMENT</div>
                    <ul style="list-style-type: none;" class="fs-4">
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
                <div class="col-md">
                    <img src="{%static './img/unnamed (1).png'%}" alt="" class="img-fluid shadow p-3 mb-5 bg-white rounded">
                </div>
            </div>
        </div>
    </section>
    <section class="p-5">
        <div class="container">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary btn-lg py-2" type="button">SEE ALL FREATURES</button>
            </div>
        </div>
    </section>
    <section class="p-5 bg-light">
        <div class="container text-center">
            <h3>Time tracking apps</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ab labore cum quidem minima, id fugit expedita tempora a molestias provident ipsam at dicta tenetur optio, consequatur sequi itaque temporibus!</p>
        </div>

        <div class="row align-items-center justify-content-between text-center">
            <div class="col-md col-lg-3 pt-4">
                <img src="{%static './img/spy1.jpeg'%}" alt="" class="shadow-lg p-3 mb-5 bg-body rounded img-fluid">
                <h4 class="">WEB APP</h4>
                <button class="btn btn-outline-primary">Edge</button>
                <button class="btn btn-outline-primary">Chrome</button>
                <button class="btn btn-outline-primary">Firefox</button>
            </div>
            <div class="col-md col-lg-3 pt-4">
                <img src="{%static './img/spy2.jpeg'%}" alt="" class="shadow-lg p-3 mb-5 bg-body rounded img-fluid">
                <h4 class="">MOBILE APP</h4>
                <button class="btn btn-outline-primary">Android</button>
                <button class="btn btn-outline-primary">iOS</button>
            </div>
            <div class="col-md col-lg-3 pt-4">
                <img src="{%static './img/spy3.jpeg'%}" alt="" class="shadow-lg p-3 mb-5 bg-body rounded img-fluid">
                <h4 class="">DESKTOP APP</h4>
                <button class="btn btn-outline-primary">Windows</button>
                <button class="btn btn-outline-primary">Mac</button>
                <button class="btn btn-outline-primary">Linux</button>
            </div>
        </div>
    </section>
    <section class="p-5">
        <div class="container">
            <h3 class=" text-center">Why track time with TimeTracker</h3>
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <img src="{%static './img/character1.png'%}" alt="" class="mb-3 rounded-circle w-25">
                            <div class="card-title fs-5">Loid Forger</div>
                            <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                            <a href="#" class="text-decoration-none">Learn more -></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <img src="{%static './img/character2.png'%}" alt="" class="mb-3 rounded-circle w-25">
                            <div class="card-title fs-5">Anya Forger</div>
                            <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                            <a href="#" class="text-decoration-none">Learn more -></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <img src="{%static './img/character3.png'%}" alt="" class="mb-3 rounded-circle w-25">
                            <div class="card-title fs-5">Yor Forger</div>
                            <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                            <a href="#" class="text-decoration-none">Learn more -></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <img src="{%static './img/character4.webp'%}" alt="" class="mb-3 rounded-circle w-25">
                            <div class="card-title fs-5">Bond Forger</div>
                            <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                            <a href="#" class="text-decoration-none">Learn more -></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-5 bg-light">
        <div class="container">
            <div class="row g-5">
                <div class="col-md">
                    <img src="{%static './img/banner.jpeg'%}" alt="" class="d-flex img-fluid">
                </div>
                <div class="col-md">
                    <h1 class="text-primary"><span style="font-size: xxx-large;">SPY</span>-FAMILY</h1>
                    <ul style="list-style-type: none;" class="fs-6">
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                        <li>✓ Lorem ipsum dolor sit amet.</li>
                    </ul>
                    <a href="#" class="text-decoration-none">Learn more -></a>
                </div>
            </div>
        </div>
    </section>
    <section class="p-5">
        <div class="container">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row g-4">
                            <div class="col-md-6 col-lg-3">
                                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                    <div class="card-body">
                                        <img src="{%static './img/character1.png'%}" alt="" class="mb-3 rounded-circle w-25">
                                        <div class="card-title fs-5">Loid Forger</div>
                                        <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                                        <a href="#" class="text-decoration-none">Learn more -></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                    <div class="card-body">
                                        <img src="{%static './img/character2.png'%}" alt="" class="mb-3 rounded-circle w-25">
                                        <div class="card-title fs-5">Anya Forger</div>
                                        <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                                        <a href="#" class="text-decoration-none">Learn more -></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                    <div class="card-body">
                                        <img src="{%static './img/character3.png'%}" alt="" class="mb-3 rounded-circle w-25">
                                        <div class="card-title fs-5">Yor Forger</div>
                                        <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                                        <a href="#" class="text-decoration-none">Learn more -></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                    <div class="card-body">
                                        <img src="{%static './img/character4.webp'%}" alt="" class="mb-3 rounded-circle w-25">
                                        <div class="card-title fs-5">Bond Forger</div>
                                        <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                                        <a href="#" class="text-decoration-none">Learn more -></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <div class="row g-4">
                            <div class="col-md-6 col-lg-3">
                                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                    <div class="card-body">
                                        <img src="{%static './img/character5.png'%}" alt="" class="mb-3 rounded-circle w-25">
                                        <div class="card-title fs-5">Damian Desmond</div>
                                        <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                                        <a href="#" class="text-decoration-none">Learn more -></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                    <div class="card-body">
                                        <img src="{%static './img/character6.png'%}" alt="" class="mb-3 rounded-circle w-25">
                                        <div class="card-title fs-5">Becky Blackbell</div>
                                        <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                                        <a href="#" class="text-decoration-none">Learn more -></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                    <div class="card-body">
                                        <img src="{%static './img/character7.png'%}" alt="" class="mb-3 rounded-circle w-25">
                                        <div class="card-title fs-5">Henry Henderson</div>
                                        <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                                        <a href="#" class="text-decoration-none">Learn more -></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                    <div class="card-body">
                                        <img src="{%static './img/character8.png'%}" alt="" class="mb-3 rounded-circle w-25">
                                        <div class="card-title fs-5">Franky Franklin</div>
                                        <div class="card-text" style="color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores iusto libero, culpa consectetur atque laboriosam, unde, temporibus dolore nemo ut quibusdam aspernatur. Fugit, iure. Consectetur dignissimos velit temporibus quae.</div>
                                        <a href="#" class="text-decoration-none">Learn more -></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>
    <section class="p-5 bg-light">
        <div class="container text-center">
            <h2 class="lh-lg">Start tracking time with TimeTracker</h2>
            <button class="btn btn-primary btn-lg py-2">CREATE FREE ACCOUNT</button>
            <a href="#" class="fs-6 fw-light d-block text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
              </svg>1x,xxx people signed up last month</a>
        </div>
    </section>
    <footer class="p-5 bg-primary text-white text-center">
        <div class="container">
            <p class="lead">Copyright &copy; TimeTracker</p>
        </div>
    </footer>
    {% endblock content %}
</body>

</html>