{% extends "nav.html" %}
{% load widget_tweaks %}
{%  block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: #E4EAEE;
        }
        
        .a{
            width: 400px;
            height: 400px;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 180px;
            line-height: 30px; 
        }

        .col-lg-9{
            width: 300px;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        .icon{
            font-size: 25px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="a">
        <div class="col-lg-9">
                <br>
                <div class="icon">Log In</div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        <label for="{{ form.username.id_for_label }}"> Username : </label>
                        {{ form.username | add_class:"form-control" }}
                        {{ form.username.errors }}
                    </div>
                    <div class="fieldWrapper">
                        <label for="{{ form.password.id_for_label }}"> Password : </label>
                        {{ form.password | add_class:"form-control" }}
                        {{ form.password.errors }}
                    </div>       
                    <br>
                    <button type="submit" class="btn btn-info" style="color: #E4EAEE;  width: 300px;"> LOGIN </button>
                    <br>
                    <br>
                    <a href="/signup" type="button" class="nav-link btn btn-outline-primary mx-auto" style="width: 7rem;margin-top: 10px;">REGISTER</a>
                </form>
        </div>
    </div>
    
</body>
    
{% endblock content %}

