{% include 'include/css.html' %}
{% include 'include/js.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a href="/home/" class="navbar-brand">TimeTracker</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenue">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenue">
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item px-5">
                        <div class="input-group search-input">
                            <input type="text" class="form-control" placeholder="Search">
                            <button class="btn btn-primary btn-lg"><i class="bi bi-search"></i></button>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">FirstPage</a></li>
                    <li class="nav-item"><a href="/forum/" class="nav-link">Forum</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">ThirdPage</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item"></li><a href='/logout' type="button" class="nav-link btn btn-outline-primary mx-auto" style="width: 6rem;">Logout</a></li>
                    {% else %}
                        <li class="nav-item"></li><a href="/login" type="button" class="nav-link btn btn-outline-primary mx-auto" style="width: 6rem;">Login</a></li>
                    {% endif%}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script> -->
</body>

</html>