{% extends "nav.html" %}
{% load widget_tweaks %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #E4EAEE;
        }

        .a {
            width: 400px;
            height: 520px;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 180px;
            line-height: 30px;
        }

        .col-lg-9 {
            width: 300px;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            
        }

        .icon {
            font-size: 25px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="a">
        <div class="col-lg-9 pt-4">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.non_fields_errors }}
                <div class="fieldWrapper">
                    <label for="{{ form.username.id_for_label }}"> Username : </label>
                    {{ form.username | add_class:"form-control" }}
                    {{ form.username.errors }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ form.password1.id_for_label }}"> Password : </label>
                    {{ form.password1 | add_class:"form-control" }}
                    {{ form.password1.errors }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ form.password2.id_for_label }}"> Confirm Password : </label>
                    {{ form.password2 | add_class:"form-control" }}
                    {{ form.password2.errors }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ form.email.id_for_label }}"> Email : </label>
                    {{ form.email | add_class:"form-control" }}
                    {{ form.email.errors }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ form.first_name.id_for_label }}"> First name : </label>
                    {{ form.first_name | add_class:"form-control" }}
                    {{ form.first_name.errors }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ form.last_name.id_for_label }}"> Last name : </label>
                    {{ form.last_name | add_class:"form-control" }}
                    {{ form.last_name.errors }}
                </div>
                <br>
                <button type="submit" class="btn btn-info" style="width: 300px;"> SIGN UP </button>
            </form>
        </div>
    </div>
    
</body>

{% endblock content %}