{% include 'include/nav.html' %}
{% include 'include/css.html' %}
{% include 'include/js.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <br>
        <br>
        <br>
        {% block content %}
        {% endblock content %}
    </body>
</html>


