{% extends "base.html" %}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        {% block content %}
        <h1>HOME - home.html</h1>
        {% endblock content %}
    </body>
</html>

