{% extends "base.html" %}
{% load widget_tweaks %}
{%  block content %}
    <div class="col-lg-9">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_fields_errors }}
            <div class="fieldWrapper">
                <label for="{{ form.username.id_for_label }}"> Username : </label>
                {{ form.username | add_class:"form-control" }}
                {{ form.username.errors }}
            </div>
            <div class="fieldWrapper">
                <label for="{{ form.password1.id_for_label }}"> Password : </label>
                {{ form.password1 | add_class:"form-control" }}
                {{ form.password1.errors }}
            </div>
            <div class="fieldWrapper">
                <label for="{{ form.password2.id_for_label }}"> Confirm Password : </label>
                {{ form.password2 | add_class:"form-control" }}
                {{ form.password2.errors }}
            </div>    
            <div class="fieldWrapper">
                <label for="{{ form.email.id_for_label }}"> Email : </label>
                {{ form.email | add_class:"form-control" }}
                {{ form.email.errors }}
            </div>     
            <div class="fieldWrapper">
                <label for="{{ form.first_name.id_for_label }}"> First name : </label>
                {{ form.first_name | add_class:"form-control" }}
                {{ form.first_name.errors }}
            </div>                
            <div class="fieldWrapper">
                <label for="{{ form.last_name.id_for_label }}"> Last name : </label>
                {{ form.last_name | add_class:"form-control" }}
                {{ form.last_name.errors }}
            </div>            
            <br>
            <button type="submit" class="btn btn-info"> SIGN UP </button>
            <button type="reset" class="btn btn-info"> RESET </button>
        </form>
    </div>
{% endblock content %}

