{% include 'include/css.html' %}
{% include 'include/js.html' %}
<body>
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
        <div class="container">
            <a href="/home" class="navbar-brand">TimeTracker</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenue">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenue">
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item"><a href="#" class="nav-link">FirstPage</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">SecondPage</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">ThirdPage</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item"></li><a href='/logout' type="button" class="nav-link btn btn-outline-primary mx-auto" style="width: 6rem;">Logout</a></li>
                    {% else %}
                        <li class="nav-item"></li><a href="/login" type="button" class="nav-link btn btn-outline-primary mx-auto" style="width: 6rem;">SignUp</a></li>
                    {% endif%}
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
